name: create-pull-request
author: peter-evans
description: Creates a pull request for changes to your repository in the actions workspace
group: github
imported: true
local:
  modifications: false
  update:
    exclusions:
      - README-examples.md
      - example-custom-notes.md
source:
  action_name: create-pull-request
  author: peter-evans
  repo_name: create-pull-request
  repo_url: https://github.com/peter-evans/create-pull-request
  current_version: v7.0.5
  latest_version: v7.0.9
  update_available: true
specs:
  action_file: action.yml
  inputs: [token, branch-token, path, add-paths, commit-message, committer, author, signoff, branch, delete-branch, branch-suffix, base, push-to-fork, sign-commits, title, body, body-path, labels, assignees, reviewers, team-reviewers, milestone, draft, maintainer-can-modify]
  outputs: [pull-request-number, pull-request-url, pull-request-operation, pull-request-head-sha, pull-request-branch]
  runs:
    using: node20
    main: dist/index.js
tests:
  _comment: reserved for future use
