# Infra-sourced Validate-Infra-PR Asset Files

The following validate-infra-pr asset files are sourced from the 'infra' repo in the `infra/file-sync/assets/validate-infra-pr/` directory:

```bash
./validate-infra-pr/
├── pr-log-cleanup.md
├── pr-log-merge.md
└── pr-log-validate.md
```
