# from https://docs.github.com/en/actions/publishing-packages/publishing-docker-images#publishing-images-to-github-packages
name: Build and publish container images

# Configures this workflow to run every time a change is pushed to the branch called `release`.
on:
  push:
    tags:
      - 'v[0-9][0-9]?.[0-9][0-9]?.[0-9][0-9]?'
      # the major.minor and major tags are evaluated below
      #- 'v[0-9][0-9]?.[0-9][0-9]?'
      #- 'v[0-9][0-9]?'
      #
      # the 'v[0-9].[0-9].[0-9]' filter pattern will need to be updated to allow double digits, using either: 
      #    specify 2 digits with a second range followed by `?`:
      #        'v[0-9][0-9]?.[0-9][0-9]?.[0-9][0-9]?'     
      #    or keep the single digit, but match one or more with `+`:
      #        'v[0-9]+.[0-9]+.[0-9]+'
      # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
  # release:
  #   types: [published]
  # do not keep 'workflow_dispatch' here long term
  workflow_dispatch:

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  build-container-image:
    name: Build and push ${{ matrix.name }} image
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      # https://github.com/actions/deploy-pages/issues/28#issuecomment-1087299632
      id-token: write
      # 
    strategy:
      fail-fast: false
      matrix:
        container: [render-template, pr-label-checker]
        registry: [ghcr.io]
          # not all containers will be pushed to GCP Artifact Registry
          #registry: [ghcr.io,gcp]
        # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs#example-expanding-configurations
        # use 'include' to specify additional variables
        include:
          - container: render-template
            name: render-template
            description: "Renders file based on template and passed variables"
            dir: utilities/render-template
            go-version: 1.17.x
            #test: "-e DOCKER_TEST_ONLY=true"
          - container: pr-label-checker
            name: label-checker
            description: "Checks pull requests for given labels"
            dir: github/label-checker
            go-version: 1.21.x
            #test: "-e DOCKER_TEST_ONLY=true"
    # Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
    env:
      REGISTRY: ${{ matrix.registry }}
      IS_GHCR: ${{ matrix.registry == 'ghcr.io' && 'true' || 'false' }}
      # GCP Artifact Registry
      IS_GCP_AR: ${{ matrix.registry == 'gcp' && 'true' || 'false' }}
      GCP_AR_REGION: us-central1
      GCP_AR_PROJECT: my-gcp-project
      GCP_AR_REPO: my-artifact-repo
      #IMAGE_NAME: ${{ github.repository }}
      IMAGE_NAME: ${{ github.repository }}/${{ matrix.name }}
      IS_REF_TAG: ${{ github.ref_type == 'tag' && 'true' || 'false' }}
    defaults:
      run:
        # set the the runners 'working-directory' to '${{ matrix.dir }}'
        # https://docs.github.com/en/actions/using-jobs/setting-default-values-for-jobs#setting-default-shell-and-working-directory
        working-directory: ./${{ matrix.dir }}
    steps:

      - name: Checkout repository
        # Verified creator: https://github.com/marketplace/actions/checkout
        # GitHub Action for checking out a repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
          #token: ${{ secrets.GITHUB_TOKEN }}
          sparse-checkout: |
            .github
            ${{ matrix.dir }}
        id: checkout

      - name: Display structure of files in working directory
        #if: inputs.verbose=='true' || ${{ runner.debug == '1' }}
        run: ls -R

      - name: Get the build version
        id: get-version
        uses: rwaight/actions/vars/build-version@main
        with:
          checkout: false
          strategy: 'simple'
          verbose: ${{ runner.debug == '1' && 'true' || 'false' }}

      - name: Print build version
        id: print-build-version
        if: ${{ steps.get-version.outputs.build-version }}
        run: |
          echo "::group::starting step 'print-build-version' "
          echo ""
          echo "Output from the 'get-version' step"
          echo "    build-version: ${{ steps.get-version.outputs.build-version }} "
          echo ""
          echo "The output in the 'get-version' step was ${build_version} ."
          echo ""
          echo "completing the 'print-build-version' step. "
          echo "::endgroup::"
        env:
          build_version: ${{ steps.get-version.outputs.build-version }}
        shell: bash

      - name: Setup Go environment
        if: ${{ matrix.go-version }}
        # Verified creator: https://github.com/marketplace/actions/setup-go-environment
        # Set up your GitHub Actions workflow with a specific version of Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
        id: setup-go

      - name: Install QEMU static binaries
        # Verified creator: https://github.com/marketplace/actions/docker-setup-qemu
        # GitHub Action to install QEMU static binaries
        uses: docker/setup-qemu-action@v3.6.0
        id: setup-qemu

      - name: Setup Docker Buildx
        # Verified creator: https://github.com/marketplace/actions/docker-setup-buildx
        # GitHub Action to set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        id: setup-buildx

      - name: Login to the GitHub Container Registry
        # Uses the `docker/login-action` action to log in to the Container registry registry using the account and password that will publish the packages. Once published, the packages are scoped to the account defined here.
        if: matrix.registry == 'ghcr.io'
        # Verified creator: https://github.com/marketplace/actions/docker-login
        # GitHub Action to login against a Docker registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          #username: ${{ github.actor }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        id: docker-login-ghcr

      - name: Login to the GCP Artifact Registry
        if: matrix.registry == 'gcp'
        uses: docker/login-action@v3
        # Verified creator: https://github.com/marketplace/actions/docker-login
        # GitHub Action to login against a Docker registry
        with:
          #registry: us-central1-docker.pkg.dev
          registry: "${{ env.GCP_AR_REGION }}-docker.pkg.dev"
          username: _json_key
          password: ${{ secrets.GCP_BUILD_CONTAINERS_KEY }}
        id: docker-login-gcp-ar

      # This step uses [docker/metadata-action](https://github.com/docker/metadata-action#about) to extract tags and labels that will be applied to the specified image. The `id` "meta" allows the output of this step to be referenced in a subsequent step. The `images` value provides the base name for the tags and labels.
      - name: Extract metadata (tags, labels) for Docker
        # Verified creator: https://github.com/marketplace/actions/docker-metadata-action
        # GitHub Action to extract metadata (tags, labels) from Git reference and GitHub events for Docker 
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          # https://github.com/docker/metadata-action#images-input
          images: |
            name=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},enable=${{ env.IS_GHCR }}
            name=ghcr.io/${{ env.IMAGE_NAME }},enable=${{ env.IS_GHCR }}
            name=${{ env.IMAGE_NAME }},enable=${{ env.IS_GCP_AR }}
            name=${{ env.GCP_AR_REGION }}-docker.pkg.dev/${{ env.GCP_AR_PROJECT }}/${{ env.GCP_AR_REPO }}/${{ env.IMAGE_NAME }},enable=${{ env.IS_GCP_AR }}
          # https://github.com/docker/metadata-action#latest-tag
          # https://github.com/docker/metadata-action#typesha
          # https://github.com/docker/metadata-action#typeref
          # https://github.com/docker/metadata-action#typesemver
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,priority=100,prefix=sha-,format=short
            type=ref,priority=600,event=branch
            type=ref,priority=600,event=tag
            type=ref,priority=600,event=pr
            type=semver,priority=900,enable=${{ env.IS_REF_TAG }},pattern={{version}}
            type=semver,priority=900,enable=${{ env.IS_REF_TAG }},pattern=v{{major}}.{{minor}}
            type=semver,priority=900,enable=${{ env.IS_REF_TAG }},pattern=v{{major}}
          labels: |
            org.opencontainers.image.title=${{ matrix.name }}
            org.opencontainers.image.description=${{ matrix.description }}
            org.opencontainers.image.documentation=https://github.com/${{ github.repository }}/blob/main/${{ matrix.dir }}/README.md
            org.opencontainers.image.revision=${{ steps.get-version.outputs.build-version }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.url=https://github.com/${{ github.repository }}/tree/main/${{ matrix.dir }}
            org.opencontainers.image.version=${{ steps.get-version.outputs.build-version }}
          ##  org.opencontainers.image.version={{version}}
          annotations: |
            org.opencontainers.image.title=${{ matrix.name }}
            org.opencontainers.image.description=${{ matrix.description }}
            org.opencontainers.image.documentation=https://github.com/${{ github.repository }}/blob/main/${{ matrix.dir }}/README.md
            org.opencontainers.image.url=https://github.com/${{ github.repository }}/tree/main/${{ matrix.dir }}
        id: metadata

      - name: Print the output from the metadata step
        id: print-metadata-info
        if: steps.metadata.outcome == 'success'
        run: |
          echo "The tags metadata is: "
          echo "${{ steps.metadata.outputs.tags }}"
          echo ""
          echo "using a bash array"
          tags=(${{ steps.metadata.outputs.tags }})
          echo "tag 0:  ${tags[0]}"
          echo "tag 1:  ${tags[1]}"
          echo ""
          echo "tag0=${tags[0]}" >> "$GITHUB_OUTPUT"
          echo "tag0=${tags[0]}" >> $GITHUB_ENV
          echo "tag1=${tags[1]}" >> "$GITHUB_OUTPUT"
          echo "tag1=${tags[1]}" >> $GITHUB_ENV
          echo "the 'print-metadata-info' step has now completed"
        shell: bash

      # This step uses the `docker/build-push-action` action to build the image, based on your repository's `Dockerfile`. If the build succeeds, it pushes the image to GitHub Packages.
      # It uses the `context` parameter to define the build's context as the set of files located in the specified path. For more information, see "[Usage](https://github.com/docker/build-push-action#usage)" in the README of the `docker/build-push-action` repository.
      # It uses the `tags` and `labels` parameters to tag and label the image with the output from the "meta" step.
      - name: Load the container image
        # Verified creator: https://github.com/marketplace/actions/build-and-push-docker-images
        # GitHub Action to build and push Docker images with Buildx
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        # Skip running on forks or Dependabot since neither has access to secrets
        if: |
          (github.repository == 'rwaight/actions') &&
          (github.actor!= 'dependabot[bot]') &&
          (contains(github.head_ref, 'dependabot-') == false)
        with:
          #context: .
          context: "{{defaultContext}}:${{ matrix.dir }}"
          tags: ${{ steps.metadata.outputs.tags }}
          annotations: ${{ steps.metadata.outputs.annotations }}
          # maybe switch to this # annotations: ${{ steps.metadata.outputs.labels }}
          labels: ${{ steps.metadata.outputs.labels }}
          load: true
          #platforms: linux/amd64,linux/arm64
          platforms: linux/amd64
        id: load-image

      - name: Test the ${{ matrix.name }} Docker image
        id: test-image
        if: ${{ matrix.test && steps.load-image.outcome == 'success' }}
        run: |
          echo "going to test the image with '${{ matrix.test }}'"
          echo "testing tag '${{ steps.print-metadata-info.outputs.tag0 }}' "
          docker run --rm ${{ matrix.test }} ${{ steps.print-metadata-info.outputs.tag0 }}
          echo "testing tag '${{ steps.print-metadata-info.outputs.tag1 }}' "
          docker run --rm ${{ matrix.test }} ${{ steps.print-metadata-info.outputs.tag1 }}
          echo "the 'test-image' step has now completed"
        shell: bash

      - name: Build and push the ${{ matrix.name }} container image
        # Verified creator: https://github.com/marketplace/actions/build-and-push-docker-images
        # GitHub Action to build and push Docker images with Buildx
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        # Skip running on forks or Dependabot since neither has access to secrets
        if: |
          (github.repository == 'rwaight/actions') &&
          (github.actor!= 'dependabot[bot]') &&
          (contains(github.head_ref, 'dependabot-') == false)
        with:
          #context: .
          context: "{{defaultContext}}:${{ matrix.dir }}"
          tags: ${{ steps.metadata.outputs.tags }}
          annotations: ${{ steps.metadata.outputs.annotations }}
          # maybe switch to this # annotations: ${{ steps.metadata.outputs.labels }}
          labels: ${{ steps.metadata.outputs.labels }}
          push: true
          #platforms: linux/amd64,linux/arm64
          # do not specify platforms, otherwise multiple images will be created without tags
          # https://github.com/docker/build-push-action/issues/894
          platforms: linux/amd64
          # secrets: |
          #   GIT_AUTH_TOKEN=${{ secrets.MY_PACKAGE_MGR_TOKEN }}
          provenance: false
        id: build-image

      # This step generates an artifact attestation for the image, which is an unforgeable statement about where and how it was built. It increases supply chain security for people who consume the image. For more information, see "[AUTOTITLE](/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds)." 
      - name: Generate artifact attestation
        # Verified creator: https://github.com/marketplace/actions/attest-build-provenance
        # Action for generating build provenance attestations for workflow artifacts
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
        #uses: actions/attest-build-provenance@v1.0.0
        # Skip running on forks or Dependabot since neither has access to secrets
        if: |
          (github.repository == 'rwaight/actions') &&
          (github.actor!= 'dependabot[bot]') &&
          (contains(github.head_ref, 'dependabot-') == false)
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.build-image.outputs.digest }}
          push-to-registry: true
        id: artifact-attestation

      - name: Print the output from the build-image step
        id: print-image-info
        if: steps.build-image.outcome == 'success'
        run: |
          echo "The image id is: ${{ steps.build-image.outputs.imageid }}"
          echo "The image digest is ${{ steps.build-image.outputs.digest }}"
          echo "The image metadata is: "
          echo "${{ fromJSON(steps.build-image.outputs.metadata) }}"
          echo ""
        shell: bash
